.adminMenu{
    display: flex; 
    justify-content:center; 
    align-items:center;
}

.matMenuFont{
    font-size: 15px;
    font-weight: 400;
    color: black;
}

.centerContent{
    text-align: center; 
    vertical-align: middle;
}

table, th, td {
    border: 1px solid black;
}
